@page "/customer"

<PageTitle>Customer Information</PageTitle>

@using IBOShop.Presentation.Customers.Models
@using IBOShop.Presentation.Customers.Services
@inject CustomerService CustomerService

<h1>Sales Information</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Customer == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Customer)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CustomerModel[]? Customer;

    protected override async Task OnInitializedAsync()
    {
        Customer = await CustomerService.GetCustomersAsync();
    }
}
